<%# preview/states.html.erb %>
<div class="space-y-4">
  <%= component("Button", 
                variant: :primary,
                disabled: true) do %>
    Disabled Primary
  <% end %>

  <%= component("Button", 
                variant: :secondary,
                disabled: true) do %>
    Disabled Secondary
  <% end %>
</div>